@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&family=Figtree&family=League+Spartan:wght@500&family=Outfit&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Atkinson Hyperlegible', 'Figtree', 'League Spartan', 'Outfit', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  background-color: lightgrey;
}

code {

}
